<div class="form-container" [formGroup]="resetForm">
  <app-input
    formControlName="password"
    label="New Password"
    type="password"
    placeholder="********"
    required
  />

  <app-input
    formControlName="confirmPassword"
    label="Confirm New Password"
    type="password"
    placeholder="********"
    required
  />

  @if (resetForm.errors?.['notMatched'] && resetForm.get('confirmPassword')?.touched) {
    <small class="error-msg">Passwords do not match</small>
  }
</div>
<div class="btn-container">
  <app-button label="Reset Password" (click)="onSubmit()" [disabled]="resetForm.invalid"></app-button>
</div>
  <p class="dont-have-account">
    Changed your mind? <a routerLink="/login">Back to Login</a>
  </p>





