<section class="auth-section">
  @if (currentStep() !== ResetPasswordStep.ForgetPassword) {
        <button class="back-btn" (click)="goBack()">
          <i class="pi pi-arrow-left"></i>
        </button>
      }
  <!-- Dynamic Title and Description based on Signals for high performance -->
  <div class="auth-header">

      <h2 class="auth-title">{{ title() }}</h2>
      <p class="auth-description">{{ description() }}
        @if (currentStep() === ResetPasswordStep.VerifyOtp) {
        <span class="auth-description2">Pleasuser@example.com. <a routerLink="/login">Edite</a> </span>
      }
      </p>

  </div>


  <div class="form-container">
      @switch (currentStep()) {
          @case ('forget-password') {
              <app-forget-password (next)="moveToVerifyOtp()" />
          }
          @case ('verify-otp') {
              <app-verify-otp (next)="moveToCreatePassword()" />
          }
          @case ('create-new-password') {
              <app-create-new-password />
          }
      }
  </div>
</section>



