<section class="auth-section">
  <h2 class="auth-title">Create Account</h2>
<div class="form-container" [formGroup]="signupForm">
  <div class="form-row">
  <app-input
      formControlName="firstName"
      label="First name"
      type="text"
      placeholder="First name"
      required
  />
<app-input
      formControlName="lastName"
      label="Last name"
      type="text"
      placeholder="Last name"
      required
  />

</div>
<app-input
      formControlName="username"
      label="Username"
      type="text"
      placeholder="user123"
      required
  />

  <app-input
      formControlName="email"
      label="Email"
      type="email"
      placeholder="user@example.com"
      required
  />

  <app-input
    formControlName="phone"
    label="Phone"
    type="tel"
    placeholder="1012345678"
    required
  />

  <app-input
    formControlName="password"
    label="Password"
    type="password"
    placeholder="********"
    required
  />

  <app-input
    formControlName="confirmPassword"
    label="Confirm Password"
    type="password"
    placeholder="********"
    required
  />

<div class="btn-container">
  <app-button label="Create Account" (click)="onSubmit()" [disabled]="signupForm.invalid"></app-button>
</div>

<p class="dont-have-account">Already have an account? <a routerLink="/login">Login</a></p>
</div>

</section>


