:root {
    --font-family-1: 'Geist Mono', sans-serif;
    --font-family-arabic: 'Cairo', sans-serif;

    --blue-50: #eff6ff;
    --blue-600: #2268ff;
    --color-primary: #155DFC;


    --gray-200:#E5E7EB;
    --gray-400:#9ca3af;
    --gray-500:#6B7280;
    --gray-800:#1F2937;




    --black:#000000;
    --white:#FFFFFF;
    --red-600:#dc2626;


}
/* Dark theme overrides */
.dark-mode {}
