:root {
    --font-family-1: 'Montserrat', sans-serif;
    --font-family-arabic: 'Cairo', sans-serif;

    --blue-600: #2268ff;
    --color-primary: #155DFC;
    --gray-800:#1F2937;

}
/* Dark theme overrides */
.dark-mode {}
